<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resort Rooms</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/registration}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <h1>Resort Rooms</h1>
    <p>
        Resort ID: <span th:text="${resort.id}"></span><br> Name: <span
            th:text="${resort.name}"></span>
    </p>

    <h3>List Rooms</h3>

    <hr/>
    <a th:href="@{/resort/{resortId}/rooms(resortId=${resortId})}" class="btn btn-primary">Add Room</a>
    <br/>
    <br/>
    <table class="table table-bordered table-striped" id="roomTable">
        <thead>
        <tr>
            <th>Room ID</th>
            <th>Descriptions</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.description}"></td>
            <td>
                <a th:href="@{/resort/{resortId}/rooms/{roomId}/edit(resortId=${resort.id}, roomId=${room.id})}"
                   class="btn btn-info">Update</a>
                <a th:href="@{/resort/{resortId}/rooms/{roomId}/delete(resortId=${resort.id}, roomId=${room.id})}"
                   class="btn btn-danger ml-2"
                   onclick="return confirm('Are you sure you want to delete this room?')">Delete</a>

                <!--<form th:action="@{/resort/{resortId}/rooms/{roomId}/delete(resortId=${resort.id}, roomId=${room.id})}"
                      method="post" onsubmit="return confirm('Are you sure you want to delete this room?');">
                    <button type="submit" class="btn btn-danger ml-2">Delete</button>
                </form>-->


            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr/>
<a th:href="@{/list}">Back to Resort list</a>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<!--<script>
		$(document).ready(function() {
			$("#roomTable").DataTable({
				'aoColumnDefs' : [ {
					'bSortable' : false,
					'aTargets' : [ -1 ]
				/* 1st one, start by the right */
				} ]
			});
		})


</script>-->

<script>
    $(document).ready(function () {
        $("#roomTable").DataTable({
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1],
                },
            ],
            pageLength: 3, // Set the number of rows per page
        });
    });
</script>


</body>
</html>

